
*.jar
*.xml
Scrolling Text/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/E8azmCc65j_byE7gx4fHRd0aT9Y=
Scrolling Text/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/E8azmCc65j_byE7gx4fHRd0aT9Y=
*.class
*.json
*.dex
Scrolling Text/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/WA_UR0khYEsWNPBPbKe2E25xR6g=
*.java
*.flat
*.iml
